$primary-color: #81be41;
$secondary-color: #5bad1c;
$background-color: #fff;
$text-color: #525356;
$text-color-white: #fff;

.loan-slider {
  min-width: 280px;
  max-width: 350px;
  padding: 30px 24px;
  background-color: $background-color;
  color: $text-color;
  border-radius: 20px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
  &__container {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    &__amount {
      font-size: 30px;
      color: $secondary-color;
      font-weight: 700;
      text-align: center;
    }
    &__loan,
    &__term {
      font-size: 20px;
      color: $secondary-color;
      font-weight: 700;
      text-align: right;
    }
  }
  .tnk-button,
  .full-width {
    width: 100%;
    font-size: 16px;
    background-color: $primary-color;
    color: $text-color-white;
    border: 0;
    cursor: pointer;
    padding: 12.5px 15px;
    font-weight: 700;
    border-radius: 4px;
    line-height: 1;
    outline: none;
  }
  .full-width:hover {
    background-color: $secondary-color;
  }
  a {
    color: $text-color-white;
    width: 100%;
  }
  // .ant-slider-step {
  //   background-color: #addb7b;
  // }
}
