$primary-color: #81be41;
$background-color: #e8e9eb;
$text-color: #525356;
$text-color-white: #fff;
$border-color: #ddd;
$border-color-dark: #5f6368;
$border-color-blue: #40a9ff;
$warning-color: #e63b49;
$secondary-color: #5bad1c;

body {
  background: $background-color;
  min-height: 100vh;
}
.registration-form,
.detail-form {
  background: $background-color;
  &__title {
    width: 100%;
    text-align: center;
  }
  &__title-registration {
    padding-left: 20%;
    text-align: left;
  }
  &__card {
    width: 100%;
    border-radius: 10px;
  }
  &__card-loan {
    text-align: left;
    padding-bottom: 5%;
  }
  &__col-left {
    text-align: left;
    p {
      padding-top: 5%;
    }
  }
  &__col-right {
    text-align: right;
    p {
      padding-top: 5%;
    }
  }
  &__col-center {
    text-align: center;
  }

  .ant-col-offset-6 {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .ant-card {
    border-color: $border-color;
  }
  &__arrow {
    svg {
      color: $primary-color;
      font-size: 40px;
      cursor: pointer;
    }
  }
  span {
    font-size: 17px;
    font-weight: 700;
    color: #25282b;
  }
  p {
    margin-bottom: 0;
  }
  #footer {
    margin-top: 5%;
  }
  &__suggestion {
    color: #25282b;
    display: grid;
    border-radius: 5px;
    background-color: $background-color;
    border: 1px solid $border-color-dark;
    p:hover {
      cursor: pointer;
      background-color: $background-color;
    }
  }
  /* Form
––––––––––––––––––––––––––––––––– */
  label {
    font-weight: bold;
    display: flex;
    margin-top: 3%;
  }
  .ant-input-group .ant-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $border-color;
  }
  input[type="textarea"],
  input[type="text"],
  input[type="number"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $border-color;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type="textarea"],
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
  }

  select {
    margin: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $border-color;
    border-radius: 10px;
    height: auto;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23343334"/></svg>');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center right 0.5rem;
  }

  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    border: 1px solid $border-color;
    border-radius: 10px;
    resize: vertical;
    box-sizing: border-box;
    padding: 0.65rem 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
      "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
      sans-serif;
  }

  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    border: 1px solid $border-color-blue;
  }

  input[type="text"]:invalid,
  select:invalid,
  textarea:invalid {
    border: 2px solid $warning-color;
    box-shadow: none;
  }

  input[type="checkbox"] {
    display: flex;
    height: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $border-color-dark;
    width: 1rem;
    background-color: $background-color;
    align-self: center;
    margin-right: 0.5rem;
  }

  input[type="checkbox"]:hover {
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.369" height="78.369" viewBox="0 0 78.369 78.369"><path fill="white" d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z"/></svg>');
    background-size: contain;
    background-color: $primary-color;
    border: 1px solid $border-color-dark;
  }

  input[type="checkbox"]:focus-visible,
  input[type="checkbox"]:checked:focus-visible {
    border-color: var(--focus-ring-color);
  }

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 1px solid $border-color-dark;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    align-self: center;
    justify-content: center;
    position: relative;
    display: flex;
  }

  @media (hover: hover) {
    input[type="radio"]:hover {
      cursor: pointer;
    }
  }

  input[type="radio"]:checked {
    border: 1px solid $border-color-dark;
    background-color: $primary-color;
  }

  input[type="radio"]:checked::before {
    content: "";
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    align-self: center;
    border-radius: 50%;
  }

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button {
    margin-top: 2%;
    width: 100%;
    font-size: 16px;
    background-color: $primary-color;
    color: $text-color-white;
    border: 0;
    cursor: pointer;
    padding: 12.5px 15px;
    font-weight: 700;
    border-radius: 4px;
    line-height: 1;
    outline: none;
  }
  #btn-submit {
    margin-top: 5%;
  }
  @media (hover: hover) {
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover {
      cursor: pointer;
      background-color: $secondary-color;
    }
  }

  .ant-input-group-addon:first-child {
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .ant-input-group > .ant-input:last-child,
  .ant-input-group-addon:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  // input:valid {
  //   border-color: red;
  // }
  .error {
    color: $warning-color;
    text-align: left;
  }
  .ant-picker {
    width: 100%;
  }
  .form-control {
    &__radio,
    &__checkbox,
    label#radio,
    label#checkbox {
      display: flex;
      margin-top: 0;
    }
  }
}
