.landing-hero {
  align-items: center;
  justify-content: center;
  padding: 7% 4% 0 4%;
  &__container--title {
    max-width: 550px;
    text-align: left;
    font-size: 35px;
    font-weight: 900;
    line-height: 1.5;
    margin: 0 0 7.5px;
  }
  &__container--desc {
    text-align: left;
    max-width: 475px;
    font-size: 20px;
  }

  img {
    z-index: -10;
    margin-left: -180px;
    opacity: 0.5;
    transform: scaleX(-1);
  }
}
