$primary-color: #81be41;
$white-color: #fff;
$text-color: #525356;

.tnk-navbar {
  width: 100%;
  height: 70px;
  min-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white-color;
  box-shadow: 0 3px 20px rgba(92, 100, 95, 0.4);
  z-index: 10;
  &__container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
    width: 1140px;
  }
  &__container,
  &__block {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    align-items: center;
  }
  .master-dekstop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tnk-button {
    display: inline-block;
    position: relative;
    border: 0;
    cursor: pointer;
    padding: 12.5px 15px;
    font-weight: 700;
    border-radius: 4px;
    line-height: 1;
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    outline: none;
  }
  .tnk-button:hover {
    background-color: $primary-color;
    color: $white-color;
  }
  a {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $text-color;
    padding: 0 1em;
  }
  a:hover {
    color: $primary-color;
  }
}
